<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://fonts.googleapis.com/css2?family=Dongle&family=Gamja+Flower&family=Nanum+Myeongjo&family=Nanum+Pen+Script&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
<h5 class="alert alert-secondary">shop 전체목록</h5>
<table class="table table-bordered">
	<tr>
		<th width="80">index</th>
		<th width="80">번호</th>
		<th width="80">상품명</th>
		<th width="80">수량</th>
		<th width="80">단가</th>
		<th width="80">색상</th>
	</tr>

	<tr th:each="dto,iter:${list}">
		<td>
			<span th:text="${iter.index}"></span>
			<span th:text="${iter.count}"></span>
		</td>
		<td><span th:text="${dto.num}"></span></td>
		<td> <a th:href="@{/detail(index=${iter.index})}"><span th:text="${dto.sangpum}"></span></a></td>
		<td><span th:text="${dto.su}"></span></td>
		<td><span th:text="${#numbers.formatInteger(dto.dan,0,'COMMA')}"></span></td>
		<td><span th:text="${dto.color}"></span></td>
	</tr>
</table>
</body>
</html>