<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<link rel="stylesheet"
 href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
<nav class="navbar navbar-expand-lg"
     th:fragment="header"
     style="background-color:#B0E0E6;">

    <div class="container-fluid">
        <!-- 로고 -->
       <a class="navbar-brand fw-bold d-flex align-items-center"
		   th:href="@{/}"
		   style="color:#0F3E46; font-size:20px;">
		    <i class="bi bi-bag-heart-fill me-2"
		       style="font-size:22px; color:#0F3E46;"></i>
		    MyShop
		</a>
        <!-- 햄버거 버튼 -->
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- 메뉴 -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/}"
                       style="color:#0F3E46;">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/list}"
                       style="color:#0F3E46;">
                        Shop
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
</body>
</html>